# Fields
public net.minecraft.client.gui.IngameGui field_73845_h # overlayMessageTime

# Methods
public net.minecraft.world.server.ServerWorld func_175736_a(Lnet/minecraft/util/math/BlockPos;)Lnet/minecraft/util/math/BlockPos; # adjustPosToNearbyEntity