# Fields
public net.minecraft.client.gui.IngameGui field_73845_h #overlayMessageTime
protected net.minecraft.client.gui.screen.ChatScreen field_195139_w #suggestions
protected net.minecraft.client.gui.screen.ChatScreen field_211139_z #hasEdits

# Classes
public net.minecraft.client.gui.FontRenderer$Entry
public net.minecraft.client.gui.FontRenderer$Entry <init>(FFFFFFFF)V
public net.minecraft.client.gui.screen.ChatScreen$SuggestionsList

# Methods
protected net.minecraft.client.gui.FontRenderer func_180455_b(Ljava/lang/String;FFIZ)I #renderString

# TEMP
public net.minecraft.entity.EntitySpawnPlacementRegistry func_209343_a(Lnet/minecraft/entity/EntityType;Lnet/minecraft/entity/EntitySpawnPlacementRegistry$PlacementType;Lnet/minecraft/world/gen/Heightmap$Type;)V #register
public net.minecraft.world.storage.loot.LootTables func_186375_a(Lnet/minecraft/util/ResourceLocation;)Lnet/minecraft/util/ResourceLocation; #register